<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/js/pwa.webmanifest">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
    <link rel="apple-touch-icon" href="/images/pwa-icon-ios.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1a2c75"/>
    <title><%= title %> </title>
</head>
