<%- include('./partials/header.ejs') %>

<body id="login">
    <div class="container">
    <form class="align-middle" action="/login" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Full Name">
            <label for="floatingInput">Name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Profile Picture</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        <button type="submit" class="btn btn-secondary">Sign Up</button>
      </form>
    </div>
</body>
</html>