<%- include('./partials/header.ejs') %>

<body id="login">
    <div class="container">
    <form class="align-middle" action="/signup" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  name="username" placeholder="FullName" required>
            <label for="username">Name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="useremail" placeholder="name@example.com" required>
            <label for="useremail">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control"  name="userpassword" placeholder="Password" required>
            <label for="userpassword">Password</label>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Profile Picture</label>
            <input class="form-control" type="file" name="formFile"  accept="image/*">
          </div>
        <button type="submit" class="btn btn-secondary">Sign Up</button>
      </form>
    </div>
</body> 
</html>